@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Christ The Rebuilder's Ministry </h1>
    <h2 class="display-4">A.K.A Hope Sanctuary </h2>
    <p>Our Vision is that every one we meet, we do not leave them without a good impact</p>
    <p>And</p>
    <p>Our Mission is to rebuild lives And destiny.</p>
</div>
