@{
    ViewData["Title"] = "View / Create / Edit";
}

@model CrmInventory.Models.MetExpense

<div class="text-center">
    <h1 class="display-4"> View, Create or Edit an Expense </h1>
    
</div>

<form asp-action="CreateEditExpenseForm">
    <label>Description</label>
    <input class="form-control" type="text" asp-for="Description" />

    <label>Quantity</label>
    <input class="form-control" type="number" asp-for="Quantity" />

    <label>Value (₦)</label>
    <input class="form-control" type="number" asp-for="Value" step="0.01" />

    <label>User</label>
    <select class="form-control" asp-for="UserId" asp-items="ViewBag.Users">
        <option value="">-- Select a User --</option>
    </select>

    <button class="btn btn-primary mt-3" type="submit">Save</button>
</form>
