@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Christ The Rebuilder's Ministry </h1>
    <h2 class="display-4">C.R.M Inventory </h2>
    <p>Keep Track Of all Your Expenses</p>
    <a asp-controller="Home" asp-action="MetExpenses" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-secondary">Create New</a>
</div>
